<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="css/style.css"><!--new font stuff after here-->
    <link rel="stylesheet" href="css/theme.css"> <!--CSS file for color selector-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap" rel="stylesheet">
    <!-- link to font awesome cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Start of color selector -->
    <input type="radio" id="green" name="colors" value="green" checked>
    <input type="radio" id="dark" name="colors" value="dark">
<input type="radio" id="red" name="colors" value="red">
<input type="radio" id="white" name="colors" value="white">
<input type="radio" id="yellow" name="colors" value="yellow">
<input type="radio" id="blue" name="colors" value="blue">
<input type="radio" id="purple" name="colors" value="purple">
<input type="radio" id="olive" name="colors" value="olive">

<div class="page-wrapper">
  <div class="color-palette">
    <label for="white"></label>
    <label for="dark"></label>
    <label for="red"></label>
    <label for="green"></label>
    <label for="yellow"></label>
    <label for="blue"></label>
    <label for="purple"></label>
    <label for="olive"></label>
  </div>
  <!-- End of color selector --> 

<!-- adding profile picture upload-->
<input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg">

<div id="display-image"></div>
    <img id="profilePic" src="data:image/<%= user.profilePic.contentType %>;base64,<%= user.profilePic.data.toString('base64') %>"><!--profile pic-->
    
    <h2><%= user.userName %>'s Task List</h2><!--made this h2 and added username-->
    <div class="boxOne "><!--adding to create colored boxes-->
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <!-- Hightlight task -->
                <span class='<%= el.important === true ? 'important' : 'regular'%>'><i class="fa-solid fa-star"></i></span>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='date'>Date Created: <%= el.createdAt.toDateString();%> </span>

                <span class='edit'><a href="/todos/editTodo/<%= el._id %>"<i class="fa-solid fa-pen-to-square"></i></a></span>
                <span class='del'><i class="fa-regular fa-trash-can"></i></span>

            </li>
    <% }) %>    
    </ul>


    <span><%= user.userName %> has <%= left %> things left to complete.</span> <!--made this span to be the same size as list items-->
    </div>
    <div class="boxTwo"><!--adding to create colored boxes-->
    <h3>Add New Task</h3><!--added header-->
    <form action="/todos/createTodo" method='POST'>
        <div class="container">
            <input type="text" placeholder="Text here..." name='todoItem' class="item-input">
            <input type="submit">
        </div>
    </form>

    <a href="/logout" class="logout-btn">LOGOUT</a>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
